<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suwonsmartapp.hello" >

    <!-- 도전.06 웹브라우저 화면 구성 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 구글 맵을 위해 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-library android:name="com.google.android.maps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.AppCompat" >
        <activity
            android:name=".activity.SecondActivity"
            android:label="@string/app_name" />
        <!-- <activity -->
        <!-- android:name=".SecondActivity" -->
        <!-- android:label="@string/title_activity_second" > -->
        <!-- </activity> -->
        <activity
            android:name=".activity.RelativeLayoutExamActivity"
            android:label="@string/title_activity_relative_layout_exam" />
        <activity
            android:name=".activity.TableLayoutActivity"
            android:label="@string/title_activity_table_layout" />
        <activity
            android:name=".activity.FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" />
        <activity
            android:name=".challenge.challenge01.ImageExamActivity"
            android:label="@string/title_activity_image_exam" />
        <activity
            android:name=".activity.EditTextActivity"
            android:label="@string/title_activity_edit_text" />
        <activity
            android:name=".challenge.challenge02.SMSActivity"
            android:label="@string/title_activity_sms" />
        <activity
            android:name=".activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.TargetActivity"
            android:label="@string/title_activity_target" />
        <activity
            android:name=".event.TouchEventActivity"
            android:label="@string/title_activity_event" />
        <activity
            android:name=".challenge.challenge04.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".challenge.challenge04.SubActivity"
            android:label="@string/title_activity_sub" />
        <activity
            android:name=".challenge.challenge05.Mission05MainActivity"
            android:label="@string/title_activity_mission05_main" />
        <activity
            android:name=".challenge.challenge06.Mission06MainActivity"
            android:label="@string/title_activity_mission06_main" >
        </activity>
        <activity
            android:name=".ListViewActivity"
            android:label="@string/title_activity_list_view" >
        </activity>
        <activity
            android:name=".SubActivityActivity"
            android:label=".SubActivityActivity" />
        <activity
            android:name=".SubChallengeActivity"
            android:label=".SubChallengeActivity" />
        <activity
            android:name=".SubEventActivity"
            android:label=".SubEventActivity" />
        <activity
            android:name=".SubListviewActivity"
            android:label=".SubListviewActivity" />
        <activity
            android:name=".listview.SpinnerActivity"
            android:label="@string/title_activity_spinner"
            android:theme="@style/Base.Theme.AppCompat" >
        </activity>
        <activity
            android:name=".listview.GridActivity"
            android:label="달력" >
        </activity>
        <activity
            android:name=".listview.StopWatchActivity"
            android:label="@string/title_activity_stop_watch" >
        </activity>
        <activity
            android:name=".map.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>


        <!-- Google Map 사용을 위해 -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAl0NO9ThZ7wOk_pJp-fLH39_xFUrasuA4" />

        <activity
            android:name=".mapalbum.GoogleMapkiUtil"
            android:label="@string/title_activity_google_mapki_util" >
        </activity>

        <activity
            android:name=".mapalbum.Main2Activity"
            android:label="@string/title_activity_mapalbum" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>
